body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  min-height: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #3498db;
  color: white;
  padding: 15px 20px;
}

header h1 {
  margin-right: auto;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

/* MAIN */
.no-blog {
  padding: 100px 100px;
  text-align: center;
}

.no-blog h1 {
  margin-bottom: 20px;
}

button,
input[type="submit"] {
  color: white;
  border-radius: 5px;
  padding: 10px;
  border-style: none;

}

.create,
input[type="submit"] {
  background-color: #3498db;
}

.container {
  padding: 50px 100px;
}

.container h1 {
  text-align: center;
}

.form-wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}

.form-wrapper input[type="submit"] {
  margin-top: 10px;
  width: 70px;
}

.post-title {
  text-align: left;
  margin-bottom: 10px;
}

#content {
  resize: none;
}

.button-wrapper {
  display: flex;
  gap: 5px;
}

.button {
  padding: 5px;
}

.edit {
  background-color: yellow;
}

.delete {
  background-color: red;
}

/* FOOTER */
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  min-height: 50px;
}